<% if logged_in? %>
  <form action='/tweet' method='post'>
    <label for='text'>Post An Update:</label>
    <textarea name='text' id='text'></textarea>
    <input type='submit' value='Post'/>
  </form>

  <h3>Follow Users</h3>
  <ul>
    <% User.all.each do |user| %>
      <% next if user.name == current_user.name %>
      <li><form action='/follow' method='post'><%= user.name %> <input type='hidden' name='username' value='<%= user.name %>'/><% unless current_user.following?(user) %><button type='submit' name='submit'>Follow</button><% end %></form></li>
    <% end %>
  </ul>
<% else %>
  <p>Switch to a user below to post a message.</p>
<% end %>

<form action='/sign_in' method='post'>
  <h3>Change User</h3>
  <label for='username'>Username:</label>
  <input type='text' name='username' id='username'/>
  <input type='submit' value='Go'/>
</form>